/* Move down content because we have a fixed navbar that is 50px tall */
body {
  background-color: #eee;
  padding-top: 10px;
}
#header{
	color:black;
	padding: 5px 0;
}
.jumbotron{
	display: flex;
  	align-items: center;
  	padding-top: 1px;
  	padding-bottom: 1px;
  	padding-left: 1px;
  	padding-right: 1px;
}